{
    "manifest_version": 2,
    "name": "Tab Split 2",
    "version": "{{version}}",
    "description": "{{description}}",
    "author": "{{{author}}}",
    "homepage_url": "{{{homepage}}}",
    "applications": {
      "gecko": {
        "id": "tab-split-2@mozilla.org",
        "strict_min_version": "57.0a1"
      }
    },
    "background": {
      "scripts": [
        "build/buildSettings.js",
        "build/testpilot-ga.js",
        "background.js"
      ]
    },
    "sidebar_action": {
      "default_title": "Tab Split",
      "default_panel": "sidebar.html"
    },
    "web_accessible_resources": [
    ],
    "permissions": [
      "activeTab",
      "tabs",
      "<all_urls>",
      "storage",
      "contextMenus",
      "webRequest",
      "webRequestBlocking"
    ]
  }
