{
    "manifest_version": 2,
    "name": "Side View",
    "version": "{{#SHIELD}}0.5rc4{{/SHIELD}}{{^SHIELD}}{{version}}{{/SHIELD}}",
    "description": "{{description}}",
    "icons": {
      "48": "side-view.png",
      "96": "side-view.png"
    },
    "author": "{{{author}}}",
    "homepage_url": "{{{homepage}}}",
    "applications": {
      "gecko": {
        "id": {{#SHIELD}}"side-view-shield@mozilla.org"{{/SHIELD}}{{^SHIELD}}"side-view@mozilla.org"{{/SHIELD}},
        {{#SHIELD}}
        "update_url": "https://testpilot.firefox.com/files/side-view@mozilla.org/updates.json",
        {{/SHIELD}}
        "strict_min_version": "57.0a1"
      }
    },
    {{#SHIELD}}
    "hidden": true,
    {{/SHIELD}}
    {{^IS_AMO}}
    "experiment_apis": {
      {{#SHIELD}}
      "study": {
        "schema": "./experiment/study/schema.json",
        "parent": {
          "scopes": ["addon_parent"],
          "script": "./experiment/study/api.js",
          "paths": [["study"]]
        }
      },
      {{/SHIELD}}
      "sideview": {
        "schema": "./experiment/schema.json",
        "parent": {
          "scopes": ["addon_parent"],
          "script": "./experiment/api.js",
          "paths": [["sideview"]]
        }
      }
    },
    {{/IS_AMO}}
    "background": {
      "scripts": [
        "build/buildSettings.js",
        {{^SHIELD_OR_AMO}}
        "build/testpilot-ga.js",
        {{/SHIELD_OR_AMO}}
        {{#SHIELD}}
        "shield-setup.js",
        {{/SHIELD}}
        "background.js"
      ]
    },
    "browser_action": {
      "default_icon": "side-view.svg",
      "default_popup": "popup.html",
      "default_title": "Open Side View",
      "browser_style": true
    },
    "sidebar_action": {
      {{#SHIELD}}
      "open_at_install": false,
      {{/SHIELD}}
      "default_icon": "side-view.svg",
      "default_title": "Side View",
      "default_panel": "sidebar.html",
      "browser_style": false
    },
    "page_action": {
      "default_icon": "side-view.svg",
      "default_title": "Open Side View",
      "show_matches": ["http://*/*", "https://*/*"],
      "browser_style": true
    },
    "web_accessible_resources": [
    ],
    "permissions": [
      {{#SHIELD}}
      "alarms",
      {{/SHIELD}}
      "activeTab",
      "tabs",
      "<all_urls>",
      "storage",
      "contextMenus",
      "webRequest",
      "webRequestBlocking",
      "bookmarks",
      "management"
    ]
  }
