{
    "manifest_version": 2,
    "name": "Side View",
    "version": "{{version}}",
    "description": "{{description}}",
    "icons": {
      "48": "side-view.svg",
      "96": "side-view.svg"
    },
    "author": "{{{author}}}",
    "homepage_url": "{{{homepage}}}",
    "applications": {
      "gecko": {
        "id": "side-view@mozilla.org",
        "strict_min_version": "57.0a1"
      }
    },
    "experiment_apis": {
      "sideview": {
        "schema": "../experiment/schema.json",
        "parent": {
          "scopes": ["addon_parent"],
          "script": "../experiment/api.js",
          "paths": [["sideview"]]
        }
      }
    },
    "background": {
      "scripts": [
        "build/buildSettings.js",
        "build/testpilot-ga.js",
        "background.js"
      ]
    },
    "browser_action": {
      "default_icon": "side-view.svg",
      "default_title": "Open current tab in sidebar"
    },
    "sidebar_action": {
      "default_title": "Side View",
      "default_panel": "sidebar.html"
    },
    "web_accessible_resources": [
    ],
    "permissions": [
      "activeTab",
      "tabs",
      "<all_urls>",
      "storage",
      "contextMenus",
      "webRequest",
      "webRequestBlocking",
      "bookmarks"
    ]
  }
