{
    "manifest_version": 2,
    "name": "Side View",
    "version": "{{version}}",
    "description": "{{description}}",
    "icons": {
      "48": "side-view.png",
      "96": "side-view.png"
    },
    "author": "{{{author}}}",
    "homepage_url": "{{{homepage}}}",
    "applications": {
      "gecko": {
        "id": "side-view@mozilla.org",
        "strict_min_version": "57.0a1"
      }
    },
    "commands": {
      "toggle-sidebar": {
        "suggested_key": {
          "default": "Alt+1"
        },
        "description": "Toggle the sidebar"
      }
    },
    "background": {
      "scripts": [
        "build/buildSettings.js",
        "background.js"
      ]
    },
    "content_scripts": [
      {
        "matches": ["<all_urls>"],
        "js": ["content-script.js"]
      }
    ],
    "browser_action": {
      "default_icon": "side-view.svg",
      "default_popup": "popup.html",
      "default_title": "Open Side View",
      "browser_style": true
    },
    "sidebar_action": {
      "open_at_install": false,
      "default_icon": "side-view.svg",
      "default_title": "Side View",
      "default_panel": "sidebar.html",
      "browser_style": false
    },
    "page_action": {
      "default_icon": "side-view.svg",
      "default_title": "Open Side View",
      "show_matches": ["http://*/*", "https://*/*"],
      "browser_style": true
    },
    "web_accessible_resources": [
    ],
    "permissions": [
      "activeTab",
      "tabs",
      "<all_urls>",
      "storage",
      "contextMenus",
      "webRequest",
      "webRequestBlocking",
      "bookmarks",
      "management"
    ]
  }
