/* Home page styles */

body {
  border-radius: 3px;
  margin: 0;
  overflow: hidden;
  width: 320px;
}

body,
html {
  background-color: var(--grey-10);
  font: message-box;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
}

#panel {
  padding: 6px 0 0;
}

#panel,
.tabs-section__title,
.tab {
  font: menu;
}

.separator {
  background: hsla(210, 4%, 10%, 0.14);
  height: 1px;
  margin: 6px 0;
}

.tabs-wrapper {
  max-height: 600px;
  overflow: auto;
  padding-bottom: 6px;
}

.tabs-section__title {
  align-items: center;
  color: GrayText;
  display: flex;
  font-weight: normal;
  height: 24px;
  margin: 0;
  padding: 4px 12px;
}

.tabs-section__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab,
.toggles__element {
  align-items: center;
  display: flex;
  font-weight: normal;
  height: 26.5px;
  padding: 4px 12px;
  padding-inline-start: 18px;
}

.toggles__element {
  justify-content: space-between;
}

.tab:hover,
.toggles__element:hover {
  background: var(--grey-20);
}

.tab__image,
.tab__text {
  pointer-events: none;
}

.tab__image {
  background-size: 16px 16px;
  flex: 0 0 16px;
  height: 16px;
  margin-inline-end: 8px;
}

/* this is a hack if, for any reason, a site does not
supply a favicon */

.tab__image[style*=undefined] {
  background-image: url(images/globe.svg) !important;
}

.tab__text {
  margin-top: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toggles__toggle {
  display: block;
  width: 24px;
  height: 16px;
  position: relative;
  border-radius: 8px;
}

.toggles--disabled .toggles__element {
  opacity: 0.3;
}

.toggles--disabled .toggles__element:hover {
  background: transparent;
}

.toggles--default .toggles__toggle,
.toggles--disabled .toggles__toggle {
  background: #d7d7db;
}

.toggles--active .toggles__toggle {
  background: #0a84ff;
}

.toggles__toggle::after {
  background: #fff;
  border-radius: 4.5px;
  content: '';
  height: 9px;
  left: 3.5px;
  position: absolute;
  top: 3.5px;
  width: 9px;
}

.toggles--active .toggles__toggle::after {
  left: auto;
  right: 3.5px;
}

.feedback-button {
  align-items: center;
  background: hsla(0, 0%, 80%, 0.3);
  border-top: 1px solid hsla(210, 4%, 10%, 0.14);
  color: rgb(26, 26, 26);
  cursor: default;
  display: flex;
  height: 41px;
  padding: 12px 4px;
  padding-inline-start: 18px;
  text-decoration: none;
}

.feedback-button:hover {
  background: rgba(204, 204, 204, 0.3);
}
