body,
html {
  font: message-box;
  font-size: 15px;
  overflow: hidden;
  color: rgb(12, 12, 13);
}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  margin: 0;
}

#home-panel {
  display: none;
}

.page {
  background: #f9f9fa;
  min-height: 100vh;
  padding: 40px 28px;
}

.title {
  font-size: 1.46em;
  font-weight: 300;
  line-height: 1.3em;
  margin: 0;
}

.subtitle {
  font-size: 1em;
  font-weight: 400;
  margin: 6px 0 24px;
}

.subtitle a {
  color: rgb(12, 12, 13);
}

.instructions {
  list-style: none;
  margin: 0;
  padding: 0;
}

#landing-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphic {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  width: 71vw;
  max-width: 284px;
  height: 52vw;
  max-height: 206px;
}

.graphic__overlay {
  position: relative;
  max-width: 284px;
  width: 100%;
  height: 61vw;
  max-height: 174px;
  margin-bottom: 9.2%;
}

.graphic__clouds {
  max-width: 284px;
  width: 100%;
  max-height: 174px;
  height: 100%;
  background: url(images/in-content-clouds.png) no-repeat center;
  background-size: contain;
  position: absolute;
}

.graphic__browser {
  animation: fade-in-down forwards 1000ms cubic-bezier(0.22, 0.92, 0.62, 1);
  animation-delay: 100ms;
  background: url(images/in-content-icon.png) no-repeat center;
  background-size: contain;
  max-width: 284px;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  transform: translate3d(0, -72px, 0);
}

.graphic__shadow {
  animation: fade-in-scale forwards 1000ms cubic-bezier(0.22, 0.92, 0.62, 1);
  animation-delay: 250ms;
  max-width: 170px;
  width: 61.2%;
  height: 16px;
  border-radius: 50%;
  background: #ededf0;
  opacity: 0;
  transform: scale(1.3);
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -72px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.default-link {
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: rgb(10, 141, 255);
  cursor: pointer;
  font-size: 15px;
  margin: 6px 0;
  padding: 0;
  text-decoration: none;
  transition: color 100ms;
}

.subtitle .default-link {
  margin: 0;
  padding: 0;
}

.default-link:hover,
.default-link:focus {
  color: rgb(0, 96, 223);
  text-decoration: underline;
}

/* Dark theme */

.page.dark-theme {
  color: #fff;
  background: #4a4a4f;
}

.page.dark-theme button:hover,
.page.dark-theme button:focus,
.page.dark-theme .graphic__shadow {
  background: #6d6d6f;
}

.page.dark-theme .default-link {
  color: #45a1ff;
}

.page.dark-theme .graphic__clouds {
  background: url(images/in-content-clouds-dark.png);
}